# BlueLight — Gmail SMTP
BLT_SMTP_HOST=smtp.gmail.com
BLT_SMTP_PORT=587
BLT_SMTP_USERNAME=seuemail@gmail.com
BLT_SMTP_PASSWORD=sua_senha_de_app_do_google
BLT_SMTP_ENCRYPTION=tls
BLT_EMAIL_FROM=seuemail@gmail.com
BLT_EMAIL_FROM_NAME=BlueLight
BLT_URL_BASE=http://localhost/BlueLight
